extends /layout/page

block title
    title Личный кабинет

block variables
    - var page = 'lk'

block content
    .container.mt-120.mt-lg-160
        .row
            .col 
                h1.text-center.c-dark-blue Личный кабинет

        ul.nav.nav-lk.row.mt-20.mt-lg-30
            li.nav-lk-item.col-6.col-lg-3.pr-3.pr-lg-12
                a(href='#tab-1' data-bs-toggle="tab").nav-lk-link.active 
                    span.gold Мои чеки
            li.nav-lk-item.col-6.col-lg-3.pl-3.pl-lg-12
                a(href='#tab-2' data-bs-toggle="tab").nav-lk-link 
                    span.gold  Мои заявки
            li.nav-lk-item.col-6.col-lg-3.mt-6.mt-lg-0.pr-3.pr-lg-12
                a(href='#tab-3' data-bs-toggle="tab").nav-lk-link
                    span.gold Мои призы
            li.nav-lk-item.col-6.col-lg-3.mt-6.mt-lg-0.pl-3.pl-lg-12 
                a(href='#tab-4' data-bs-toggle="tab").nav-lk-link 
                    span.gold Персональные данные
        .row
            .tab-content
                #tab-1.tab-pane.fade.lk-content.active.show
                    include /modules/lk-tab-1
                #tab-2.tab-pane.fade.lk-content
                    include /modules/lk-tab-2
                #tab-3.tab-pane.fade.lk-content
                    include /modules/lk-tab-3
                #tab-4.tab-pane.fade.lk-content
                    include /modules/lk-tab-4






