
.container.py-60.py-lg-80
    .row 
        .col-12.col-md-6.col-xl-4.d-flex.align-items-center.justify-content-center.flex-column.mt-40.mt-xl-0
            h5.text-center.c-dark-blue  номер Горячей линии
            a.text-center(href="tel:").footer-link-lg.mt-2 8-800-333-40-17
        .col-12.col-md-12.col-xl-4.order-first.order-xl-0
            a(href='/')
                +img('logo.png','Логотип','logo-img mx-a d-block')
        .col-12.col-md-6.col-xl-4.d-flex.align-items-center.justify-content-center.flex-column.mt-40.mt-xl-0
            h5.text-center.c-dark-blue   Почта для обратной связи
            a.text-center(href="mailto:").footer-link-lg.mt-2 info@roklerpromo.ru
    .row
        .col-sm-12.d-flex.align-items-center.justify-content-center.mt-40
            .social-icons 
                a(href="#" target="_blank")
                    +img('icons/tg.svg','Телеграм','')
                a(href="#" target="_blank")
                    +img('icons/vk.svg','Вконтакте','')
                a(href="#" target="_blank")
                    +img('icons/odnoklassniki.svg','Одноклассники','') 
    .row.mt-24.mt-lg-40
        .col-12.col-lg-4.d-flex.align-items-center.justify-content-center.mt-24.mt-lg-0
            a(href="#").footer-link Полные правила акции
        .col-12.col-lg-4.d-flex.align-items-center.justify-content-center.mt-24.mt-lg-0 
            a(href="#").footer-link Согласие на обработку персональных данных
        .col-12.col-lg-4.d-flex.align-items-center.justify-content-center.mt-24.mt-lg-0 
            a(href="#").footer-link Политика конфиденциальности  
        .col-12.mt-24.mt-lg-40
            p.par-12.c-white-blue.text-center Акция проводится в период с 22.07.2024 по 30.09.2024 на территории Омской и Новосибирской областей. Организатором акции является ООО «Ай-Экшн». Информация об организаторе акции, правилах её проведения, товарах — участниках, количестве призов, сроках, месте и порядке их получения размещена на сайте roklerpromo.ru

