.row 
    .col-12 
        h2.text-center.c-white Гарантированный приз
.row 
    .col-12.col-md-6.mt-20.mt-md-30
        .lk-prize.prize-blocked
            .lk-prize-img
                +img("lk-prizes/lk-prize-1.png",'100 рублей на мобильный телефон ')
            .prize-desc.my-16
                span
                    .header.c-white 100 рублей на мобильный телефон 
                    p.par-16.c-white.mt-12 за регистрацию первого чека
                p.par-16.c-white.opacity-25.mt-24.mt-lg-12  Может стать твоим!
.row.mt-40.mt-md-60.mt-lg-80
    .col-12 
        h2.text-center.c-white Еженедельные призы
    .col-12.col-md-6.mt-20.mt-md-30
        .lk-prize.prize-blocked 
            .lk-prize-img
                +img("lk-prizes/lk-prize-2.png",'Электронный сертификат в МВидео')
            .prize-desc.my-16
                span
                    .header.c-white Электронный сертификат в МВидео
                    p.par-16.c-white.mt-12 на 3500 рублей
                p.par-16.c-white.opacity-25.mt-24.mt-lg-12  Может стать твоим!
    .col-12.col-md-6.mt-20.mt-md-30
        .lk-prize.prize-blocked 
            .lk-prize-img
                +img("lk-prizes/lk-prize-3.png",'Электронный сертификат в МВидео')
            .prize-desc.my-16
                span
                    .header.c-white Электронный сертификат в МВидео
                    p.par-16.c-white.mt-12 на 1000 рублей
                p.par-16.c-white.opacity-25.mt-24.mt-lg-12  Может стать твоим!
    .col-12.col-md-6.mt-20.mt-md-30
        .lk-prize.prize-blocked 
            .lk-prize-img
                +img("lk-prizes/lk-prize-4.png",'Электронный сертификат в МВидео')
            .prize-desc.my-16
                span
                    .header.c-white Электронный сертификат в МВидео
                    p.par-16.c-white.mt-12 на 500 рублей
                p.par-16.c-white.opacity-25.mt-24.mt-lg-12  Может стать твоим!
.row.mt-40.mt-md-60.mt-lg-80
    .col-12 
        h2.text-center.c-white Ежемесячные призы
    .col-12.col-md-6.mt-20.mt-md-30
        .lk-prize.prize-blocked 
            .lk-prize-img
                +img("lk-prizes/lk-prize-5.png",'Мультиварка REDMOND RMC-M95')
            .prize-desc.my-16
                span
                    .header.c-white Мультиварка <br> REDMOND RMC-M95
                p.par-16.c-white.opacity-25.mt-24.mt-lg-12  Может стать твоим!
    .col-12.col-md-6.mt-20.mt-md-30
        .lk-prize.prize-blocked 
            .lk-prize-img
                +img("lk-prizes/lk-prize-6.png",'Бокс для романтических вечеров')
            .prize-desc.my-16
                span
                    .header.c-white Бокс для романтических вечеров
                    p.par-16.c-white.mt-12 (набор бокалов и сырная дощечка)
                p.par-16.c-white.opacity-25.mt-24.mt-lg-12  Может стать твоим!
    .col-12.col-md-6.mt-20.mt-md-30
        .lk-prize.prize-blocked 
            .lk-prize-img
                +img("lk-prizes/lk-prize-7.png",'Бокс для пикника')
            .prize-desc.my-16
                span
                    .header.c-white Бокс для пикника
                    p.par-16.c-white.mt-12 (плед, рюкзак, термокружка)
                p.par-16.c-white.opacity-25.mt-24.mt-lg-12  Может стать твоим!
.row.mt-40.mt-md-60.mt-lg-80
    .col-12 
        h2.text-center.c-white Главные призы
    .col-12.col-md-6.mt-20.mt-md-30
        .lk-prize.prize-blocked 
            .lk-prize-img
                +img("lk-prizes/lk-prize-8.png",'iPhone 15')
            .prize-desc.my-16
                span
                    .header.c-white iPhone 15 (256 гб)
                p.par-16.c-white.opacity-25.mt-24.mt-lg-12  Может стать твоим!
    .col-12.col-md-6.mt-20.mt-md-30
        .lk-prize.prize-blocked 
            .lk-prize-img
                +img("lk-prizes/lk-prize-6.png",'Бокс для романтических вечеров')
            .prize-desc.my-16
                span
                    .header.c-white Бокс для романтических вечеров
                    p.par-16.c-white.mt-12 (набор бокалов и сырная дощечка)
                p.par-16.c-white.opacity-25.mt-24.mt-lg-12  Может стать твоим!
    .col-12.col-md-6.mt-20.mt-md-30
        .lk-prize
            .lk-prize-img
                +img("lk-prizes/lk-prize-9.png",'Бокс для кулинарных свершений')
            .prize-desc.my-16
                span
                    .header.c-white Бокс для кулинарных свершений
                    p.par-16.c-white.mt-12 (портативный блендер, набор приборов, фартук)
                a.to-data-tab.mt-24.mt-lg-12( type="button"  )  Заполнить данные
